.col {
  padding:10px;
}

#sm1{
  padding-top: 15px;
  font-size: 12px;
  text-align: right;
  font-style: italic;
  font-weight: 700;
}

#sm2{
  font-size: 12px;
  text-align: right;
  font-weight: 700;
}

img.card-img-top {
 

  max-height:200px;
 
 
}